<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <form class="foodEntry"><span class="text-right"><a href="#/update" class="btn btn-info">Update Amounts</a></span>
        <label class="row"> Food:
          <input type="text" placeholder="3 apples" ng-model="entered" ng-keydown="pressedKey($event)"/>
        </label>

      </form>
          <!--<span class="row">
            Add food |   Update amount   | Remove food -->

            <!--<pre> # food | # (to add to) food | 0 food</pre> </span>-->
    </div>

