<div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-controller="inputCtrl">
      <form id="foodEntry">
        <label class="row"> Food:
          <input type="text" placeholder="3 apples" ng-model="entered" ng-keydown="pressedKey($event)"/>
        </label>
        <label class="row"> Update amount. Add:
          <input type="text" placeholder="2 apples" ng-model="updateMe" ng-keydown="pressedKeyForUpdate($event)"/>
        (0 removes food)
        </label>
        <label class="row"> Remove a food:
          <input type="text" placeholder="apples" ng-model="removeMe" ng-keydown="pressedKeyForRemoval($event)"/>
        </label>
      </form>
          <!--<span class="row">
            Add food |   Update amount   | Remove food -->
            <span class="row">
              <span class="col-xs-3 col-xs-offset-7">
                <button class="btn btn-info" ng-click="clearInventory()">Clear</button>
              </span>
            </span>
            <!--<pre> # food | # (to add to) food | 0 food</pre> </span>-->
    </div>

    <pantry-output></pantry-output>

</div>
